<!-- About Section -->
<section id="Bio" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Anthony Leonardi</h2>
            <p>Anthony is a <a target='_blank' href='http://www.umass.edu/'>UMass - Amherst</a> graduate with degrees in both Computer Science and Mathematics. In his 15 year career he has  I joined <a target='_blank' href='http://www.pega.com/'>Pegasystems</a> as a Sales Engineer. Since then I've rapidly developed my consulting, product, and leadership skills while engaging with customers on 3 different continents and leading teams on 4.</p>
            <p>Outside of work I try to concentrate my spare time on personal development. Typically that means <a target="_blank" href='http://travel.ajleonardi.co'>traveling</a> with my wife Lucia, working on side <a class="page-scroll" href="#Projects">projects</a>, and just reading -- novels, tech blogs, business and mgmt books.</p>
            <p>Have a look around this page and the linked sites to get a sense for who I am. If you want to chat, please feel free to <a href='#Contact'>contact me</a>.</p>
        </div>
    </div>
</section>
