<!-- Contact Section -->
<section id="CV" class="container content-section text-center alt-bkg" style="margin:0px; width: 100%;">
    <div class="row">
        <div class="col-lg-2"></div>
        <!--<div class="col-lg-8 col-lg-offset-2">-->
        <div class="col-lg-8">
            <h2>Curriculum Vitae</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class='vert-element'>
                <h3>Sr. Director - Solutions Consulting, Product Partnerships</h3>
                <p class='sub-header'><a target='_blank' href='http://cogitocorp.com'>Cogito</a> | <i>Boston,
                    Massachusetts</i></p>
                <ul>
                    <li><p>Created and led the Sales Consulting function</p></li>
                    <li><p>In partnership with <a target='_blank' href="https://salesforce.com">Salesforce.com</a> I led the development of an integrated next-best-action solution featured on stage at Dreamforce (the largest software conference in the world)</p></li>
                    <li><p>Designed, prioritized, and managed the development of Cogito's demo software and infrastructure</p></li>
                    <li><p>Created a highly adopted self-led training and certification program to enable our Sales and Services Teams on the demo</p></li>
                    <li><p>Led several strategic projects and POCs, working directly with Engineering and the Office of the CTO</p></li>
                    <li><p>Outstanding Sales Leadership Award (2019)</p></li>

                </ul>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class='vert-element'>
                <h3>Sr. Director - Client Development</h3>
                <p class='sub-header'><a target='_blank' href='http://cogitocorp.com'>Cogito</a> | <i>Boston,
                    Massachusetts</i></p>
                <ul>
                    <li><p>Secured 8 new Fortune 100 logos in 18 months</p></li>
                    <li><p>Helped guide early commercialization strategy by influencing product direction and go-to-market messaging, and defining/refining our sales plays.</p></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class='vert-element'>
                <h3>Principal Solutions Consultant</h3>
                <p class='sub-header'><a target='_blank' href='http://pega.com'>Pegasystems</a> | <i>Sydney,
                    Australia</i></p>
                <ul>
                    <li><p>Medallion Club: 2014, 2015</p></li>
                    <li><p>Made an immediate impact after a move to Australia by successfully leading technical sales
                        campaigns across both the government, and financial services verticals.</p></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class='vert-element'>
                <h3>Product Manager</h3>
                <p class='sub-header'><a target='_blank' href='http://pega.com'>Pegasystems</a> | <i>Boston,
                    Massachusetts</i></p>
                <ul>
                    <li><p>Led the design and build of a Healthcare Claims Pricing Engine -- a brand new strategic
                        application for Pega's Healthcare business.</p></li>
                    <li><p>Created a product roadmap for Pega's Customer Service application for Healthcare Payers.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class='vert-element'>
                <h3>Solutions Consulting Team Lead</h3>
                <p class='sub-header'><a target='_blank' href='http://pega.com'>Pegasystems</a> | <i>Boston,
                    Massachusetts</i></p>
                <ul>
                    <li><p>Medallion Club: 2008, 2010</p></li>
                    <li><p>Ran a healthcare briefing summit for our European sales consultants after which the need for
                        healthcare resources from the US to fly to Europe was almost eliminated.</p></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class='vert-element'>
                <h3>Sales Engineer</h3>
                <p class='sub-header'><a target='_blank' href='http://pega.com'>Pegasystems</a> | <i>Boston,
                    Massachusetts</i></p>
                <ul>
                    <li><p>100% vendor of choice selection at onsite POCs.</p></li>
                    <li><p>Led the build of an internal HR application for tracking new Pega applicants.</p></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class='row'>
        <ul class="list-inline banner-social-buttons">
            <li>
                <a target='_blank' href="https://www.linkedin.com/in/anthonyleonardi" class="btn btn-default btn-lg"><i
                        class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
            </li>
        </ul>
    </div>
</section>
