<!-- Contact Section -->
<section id="Interests" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-2"></div>
      <!--<div class="col-lg-8 col-lg-offset-2">-->
      <div class="col-lg-8">
          <h2>Interests</h2>
      </div>
      <div class="col-lg-2">
      </div>
  </div>
  <div class="row">
    <!--<div class="col-lg-1">test</div>-->
    <div class="col-lg-4">
      <div class="horz-element">
      <h3>Travel</h3>
      <p>My wife, Lucia, and I love traveling together. Initially most of our travel was within the Americas and Europe, but when I was offered the chance to work and live in Sydney, Australia, we jumped at the opportunity and our travel zone expanded quite a bit!</p>
      <p>We've now moved back to Boston to be closer to family and settle down with our twin boys - but when we do travel, we do our best to keep our <a target='_blank' href='https://travel.ajleonardi.co'>travel diary</a> up to date.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="horz-element">
      <h3>Technology</h3>
      <p>Coming from a technical background, I've found it hard to stay away even while my career has brought me further into the business side of things. I often spend my free time building apps (mostly with Django) that fill a gap I see or that I think would be fun to build or use.</p>
      <p>A couple of my recent projects are highlighted above in the <a class= "page-scroll" href="#Projects">projects</a> section.</p>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="horz-element">
        <h3>Music</h3>
        <p>Music has been a huge part of my life for as long as I can remember. In High School I participated in every ensemble offered (marching band, orchestra, show choir, vocal jazz ensemble, etc), and in college I played with the UMass drumline all four years.</p>
        <p>As a drummer, though, city living made practicing pretty much impossible - my neighbors and roommates didn't appreciate my "art" as much as I did. For the last few years I've been slowly but surely learning to play the banjo. </p>
      </div>
    </div>
    <!--<div class="col-lg-1">tests</div>-->
  </div>
</section>
