<!-- Contact Section -->
<section id="Testimonials" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Testimonials</h2>
            <p>"Anthony is resourceful and has been asked time and again to craft sales strategies, deal approaches, product capabilities, and cutting edge prototypes and he delivers - not only delivering on the immediate task at hand, but giving consideration to overall organizational success..." - <a target="_blank" href="https://www.linkedin.com/in/stephendkraus/">Steve Kraus</a></p>
            <p>"Anthony was the first person we would put on stage to impress. Anthony was detail orientated and made sure every customer interaction was a success. This attention to detail and professional approach gained us many significant sales wins and customer successes." - <a target="_blank" href="https://www.linkedin.com/in/gvanrensburg/">Greg van Rensburg</a></p>
            <p>"He's a leader on any team, and a key SME to start with when building a team. A true pleasure to work with.” - <a target='_blank' href='https://www.linkedin.com/pub/chuck-strahlendorff/0/736/7b8'>Chuck Strahlendorff</a></p>
            <p>“Anthony doesn’t micromanage his resources. This not only lets them focus, but also gives them a sense that he trusts them to get the work done.” - <a target='_blank' href='https://www.linkedin.com/pub/nicholas-thomas/44/586/aa3'>Nick Thomas</a></p>
            <p>"If there’s a blocker, he makes sure it is removed so that development can continue in a timely manner...His leadership is invaluable.” - <a target='_blank' href='https://www.linkedin.com/in/veronicapayan'>Veronica Payan</a></p>
            <p>"Anthony has an aptitude for aesthetics and understanding clients that makes him stand out from the thousands of Sales Consultants that have passed through my company. “ - <a target='-_blank' href="https://www.linkedin.com/pub/stacy-flores/8/934/623">Stacy Flores</a></p>
        </div>
    </div>
</section>
